body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
}

nav ul {
  list-style: none;
  background-color: #34495e;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}


nav a {
  display: block;
  padding: 14px 20px;
  color: white;
  text-decoration: none;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
  background-color: #fff;
}

ol {
     text-align: left;
     display: inline-block;
    }


img {
  width: 100px;
  height: 100px;
}

table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

th {
  background-color: #3498db;
  color: white;
}

.learn-form {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 30px auto;
  max-width: 600px;
  text-align: left;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.learn-form input{
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.learn-form button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;

}



footer {
  padding: 10px;
  background-color: #ecf0f1;
}